.jumbotron {
    font-family: 'Source Sans Pro', sans-serif;
    /* color      : green; */

}

/* body {
    background-color: #303030;
    color           : gray;
    font-family     : 'Source Sans Pro', sans-serif;
    font-size       : 36px;
}

h1 {
    color      : chocolate;
    font-family: "Lucida Console", "Courier New", monospace;
}

div {
    border-color: #27c95d;
    text-align: center;
}

span {
    background-color: #741b9e;
}

.p1 {
    color      : gray;
    font-family: "Lucida Console", "Courier New", monospace;
}

.grid-container {
    display              : grid;
    grid-template-columns: auto auto auto auto;
}

.row {
    display: flex;
  }
  
.row > div {
    flex: 1;
    border: 1px solid #505050;
  } */